.main {
  background: #F8F8F8;
}

.jumbotron {
  background: url('../assets/images/jumbotron-image.png');
  height: 645px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.jumbotron h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: var(--color-white);
  padding-bottom: 11px;
  padding-top: 78px;
}

.jumbotron p {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-white);
  padding-bottom: 16px;
}

.jumbotron .btn-get-started {
  width: 250px;
  height: 60px;
  background: var(--color-yellow);
  border-radius: var(--border-radius-10);
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: var(--color-brown);
  filter: drop-shadow(0px 6px 20px rgba(255, 186, 51, 0.4));
}

.jumbotron .summary {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1140px;
  height: 200px;
  background: var(--color-white);
  border-radius: var(--border-radius-10);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.jumbotron .summary .icon {
  width: 55px;
  height: 55px;
  background: var(--color-yellow);
  border-radius: var(--border-radius-70);
  display: flex;
  justify-content: center;
  margin-right: 36px;
}

.jumbotron .summary .count {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--color-black);
  margin-bottom: 5px;
}

.jumbotron .summary .type {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: var(--color-grey);
  margin: 0;
  padding-bottom: 0;
}

.team-work {
  background: var(--color-white);
  padding-top: 150px;
  padding-bottom: 82px;
}

.team-work h1 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: var(--color-black);
}

.team-work p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-grey);
}

.favorite,
.visit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.favorite h1,
.visit h1,
.partner h1,
.testi h1 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: var(--color-black);
}

.favorite p,
.visit p,
.testi p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-grey);
}

.favorite .card-favorite {
  position: relative;
  width: 330px;
  min-height: 567px;
  background: var(--color-white);
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 183px;
}

.favorite .card-favorite:hover {
  border: 2px solid var(--color-brown);
}

.favorite .card-favorite .image-favorite-parent {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.favorite .card-favorite .image-favorite {
  border-radius: 100%;
}

.favorite .card-favorite h6 {
  margin-top: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-black);
  text-align: center;
  margin-bottom: 30px;
}

.favorite .card-favorite p {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-grey);
}

.favorite .card-favorite h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: var(--color-black);
  text-align: center;
}

.favorite .card-favorite .btn-order {
  width: 177.88px;
  height: 45px;
  border: 2px solid var(--color-yellow);
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-brown);
  margin-bottom: 50px;
}

.favorite .card-favorite .btn-order:hover {
  background: var(--color-yellow);
}

.visit {
  padding-top: 182px;
  padding-bottom: 63px;
}

.visit .peta-image {
  margin-top: 155px;
}

.partner,
.testi {
  background: var(--color-white);
  padding-top: 63px;
}

.partner h1 {
  text-align: center;
}

.testi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 182px;
}

.testi .card-testi {
  margin-top: 60px;
  width: 400px;
  min-height: 230px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding: 30px;
  cursor: pointer;
  margin-right: 50px;
}

.testi .card-testi:hover {
  border: 2px solid var(--color-brown);
}

.testi .card-testi h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-black);
  margin-bottom: 0;
}

.testi .card-testi p {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-grey);
  margin-bottom: 0;
}

.testi .card-testi .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-black);
  padding-top: 20px;
}

.testi .card-testi .testi-image {
  object-fit: contain;
}